
<body>
  <img class="logo" src="../../assets/locafy-full-logo.png">
  <div class="form-style">
    <img class="orange-rectangle" src="../../assets/orange-rectangle.png">
    <img class="navy-rectangle" src="../../assets/navy-rectangle.png">
    <form class="form-style">
      <div><label for="username">Username: <br><input type="text" placeholder="Enter Username" name="username" required/></label> </div><br>
      <div><label for="password">Password: <br><input type="password" placeholder="Enter Password" name="password" required /></label></div>
      <div class="forgot-password"><a href="#">forgot password?</a></div><br>
      <br>
      <div class="buttons-1">
        <button (click)="onLogin()" type="submit" class="btn btn-primary">Login</button>
        <button type="button" class="btn btn-primary">Sign up</button>
      </div>
      
    </form>
  </div>
</body>
