.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    max-width: 80%;
}

.project-tile {
    width: 100%;
    height: 150px;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s;
}

.project-tile:hover {
    transform: scale(1.05);
}

.project-title {
    font-family: 'Courier New', monospace;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.team-members {
    font-family: 'Courier New', monospace;
    font-size: 12px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.p {
    width: 50%
}