<div class="container">
  <div class="sidebar mt-5">
    <div class="upload-container mt-5">
      <button type="button" class="btn custom-upload-btn text-white" (click)="openUploadModal()">Upload</button>
    </div>
    <div class="nav-elements-container mt-5">
      <nav>
        <ul class="nav flex-column custom-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="projects">
              <i class="bi bi-house-door-fill mx-1"></i>
              <span class="nav-text text-white">Projects</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="locations">
              <i class="bi bi-geo-alt-fill mx-1"></i>
              <span class="nav-text">Locations</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contacts">
              <i class="bi bi-file-earmark-person-fill mx-1"></i>
              <span class="nav-text text-white">Contacts</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>