<body>
    <main>

        <!-- Toolbar -->
        <div class="toolbar" role="banner">
            <img width="10%" alt="Locafy Logo" src="../../assets/LocafyCircleLogo.png" />
            <div class="spacer"></div>

            <a class="nav-button" href="#">About</a>
            <a class="nav-button" href="#">Contact</a>
            <a class="nav-button" href="/login">Sign in</a>
            <a class="nav-button" href="#">Sign up</a>
        </div>

        <p class="main-text">
            <b>Maximize Productivity, Master Logisitics</b>
            Don't settle for outdated methods. Unlock your team's scouting prowess
            with our location-specific app tailored for film and TV. Harness
            innovative tools and an engaging platform to boost efficiency
            and conquer location challenges.
        </p>

        <div class="split">
            <img src="../../assets/workspacePhoto.jpeg">
            <div class="stretch-me">
                <b>Assess Locations.</b> Utilize AI to determine how logistically viable a location is.<br>
                <b>Seemlessly Onboard.</b> Visualize and map your progress, reducing new team member latency. <b>Get
                    Work Done.</b>
            </div>
        </div>

        <div class="main-text">
            <div><b>Embrace AI</b>
                Let Artifical Intelligence help you out with the tedious tasks that limit your creativity,
                and focus on the parts that are important.
            </div>
            <div><b>Automate Your Workflow</b>
                Our tools are seemlessly integrated to grant you the best user experience,
                and to provide you with all the functionality you need to improve your workflow
            </div>

        </div>

    </main>

    <footer>
        <div class="footer1">
            <b>Contact</b><br>
            555 Lanes-view Drive, Oakville<br>
            Ontario, Canada, L6H 0P7<br><br>
            705 789 1423<br><br>
            locafy@locafy.com
        </div>
        <div class="footer2">
            Social Media<br>
            <div class="floating-images">
                <i class="bi bi-discord text-white"></i>
                <img src="../../assets/github.png">
                <img src="../../assets/instagram.png">
                <img src="../../assets/twitter.png">
            </div>
        </div>
    </footer>
</body>