.compressed-table th,
.compressed-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.compressed-table th.status,
.compressed-table td.status {
  min-width: 50px;
}

.content-container {
    display: flex;
    flex-direction: row;
}

.table-container{
    flex: 1;
    overflow: auto;
    transition: width 0.5s ease-in-out;
    min-width: 200px;
}

.map-container {
    flex: 1;
    overflow: auto;
    transition: width 0.5s ease-in-out;
}

.table-responsive{height:70vh;overflow-y:scroll;} /* This is the line that makes the table scrollable */

thead tr:nth-child(1) th{background: white; position: sticky;top: 0;z-index: 10;} /* This is the line that makes the table header sticky */

/* scroll bar attributes */
/* For WebKit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Hide scrollbar when not needed */
::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb:horizontal:disabled,
::-webkit-scrollbar-thumb:vertical:disabled {
    display: none;
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}

/* Hide scrollbar when not needed */
*:disabled {
    scrollbar-color: transparent transparent;
}
