<div class="container mt-5">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Scene Number</th>
                    <th scope="col">Int./Ext.</th>
                    <th scope="col">Location</th>
                    <th scope="col">Time of Day</th>
                    <th scope="col">Selected Location Address</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let scene of scenes">
                    <td>{{ scene.sceneNumber }}</td>
                    <td>{{ scene.inOrOut }}</td>
                    <td>{{ scene.location }}</td>
                    <td>{{ scene.timeOfDay }}</td>
                    <td><i class="bi bi-geo-alt-fill mx-1"></i>{{ scene.streetNum }} {{ scene.streetName }}, {{ scene.city }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>